$wBg: 284px;

.bg-figure{
  position: relative;
  &:before{
    opacity: .3;
    content: ' ';
    position: absolute;
    top: 200px;
    width: 100%;
    height: 100%;
    max-height: 700px;
    @media (max-width: 1200px) {
      max-height: 500px;
    }
    background-image: url("../../../../public/assets/images/main-figure.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: -9;
    animation: 20s linear 0s normal none infinite running rot;
    -webkit-animation: 20s linear 0s normal none infinite running rot;
  }
}

@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.main-bgs{
  position: relative;
}
.main-bgs_inner{
  position: relative;
  overflow: hidden;
  &__0{
    border-bottom-left-radius: 32px;
    border-top-right-radius: 32px;
    animation: .2s linear 0s running img-little;
    .image{
      object-fit: cover;
      @media (max-width: 1000px) {
        object-position: 0;
      }
      object-position: left;
    }
    &:hover{
      transition: all ease .2s;
      rotate: -1deg;
      cursor: pointer;
    }
  }
  &__1{
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    animation: .2s linear 0s running img-little;
    .image{
      object-fit: cover;
      @media (max-width: 1000px) {
        object-position: 0;
      }
      object-position: -100px;
    }
  }
  &__2{
    border-top-left-radius: 32px;
    border-bottom-right-radius: 32px;
    animation: .2s linear 0s running img-bigger;
    .image{
      object-fit: cover;
      @media (max-width: 1000px) {
        object-position: 0;
      }
      object-position: -180px;
    }
    &:hover{
      transition: all ease .2s;
      rotate: 1deg;
      cursor: pointer;
    }
  }
  .main_bg{
    scale: 1;
    transition: all ease .4s;
    &:hover{
      scale: 1.1;
      transition: all ease .4s;
    }
  }
  .number-bg{
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95px;
    height: auto;
  }
}


.image-block {
  width: $wBg;
  height: 466px;
  cursor: pointer;
  transition: all ease .2s;
  position: relative;
  display: flex;
  justify-content: space-between;
  @media (max-width: 1000px) {
    width: 100%;
    height: 100%;
  }
  .image {
    width: 100%;
    height: 466px;
    @media (max-width: 1000px) {
      height: 100%;
      object-fit: cover;
    }
    display: block;
    animation:  .2s linear 0s running img-bigger;
  }
}

.image-block.expanded {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  animation: .2s linear 0s running img-bigger;
  @media (max-width: 1000px) {
    padding: 0 35px;
  }
  &.expanded-0{left: 0}
  &.expanded-1{left: 0}
  &.expanded-2{right: 0}
  &.main-bgs_inner__0, &.main-bgs_inner__1, &.main-bgs_inner__2{
    border-radius: 0;
    &:hover{
      rotate: none;
    }
  }

  .image{
    width: 100%;
  }
}

@keyframes img-bigger {
  0% {
    width: $wBg;
  }
  100% {
    width: 100%;
  }
}

@keyframes img-little {
  0% {
    width: 100%;
  }
  100% {
    width: $wBg;
  }
}